@charset "UTF-8";

*{
    font-family: Arial, Helvetica, sans-serif;
   /* height: 100%;*/
   
}
body{
    background-image: linear-gradient(to right,#A6A6A6,#929292);
}
main{
    background-color: rgb(224, 224, 224);
    border-radius: 20px;
    box-shadow: 5px 5px 15px #353232a4;
    width: 600px;
    padding: 10px;
    margin: auto;
}
h1{
    text-align: center;
    text-shadow: 1px 1px 0px black;
    color: rgba(36, 24, 24, 0.692);
}
p{
    text-align: justify;

}